<div class="input-group panel panel-default" id="login" aria-describedby="sizing-addon3">
  <div class="panel-body">
  <h3 style="text-align: center;">Create New League</h3> <br>
    <form >
      <fieldset class="form-group">
        Name
        <input type="text" class="form-control" ng-model="newLeague.name">
      </fieldset>
      <fieldset class="form-group">
        Number of Teams
        <input type="number" class="form-control" ng-model="newLeague.num_teams">
      </fieldset>
      <fieldset class="form-group">
        Number of Positions
        <input type="number" class="form-control" ng-model="newLeague.num_positions">
      </fieldset>
      <fieldset class="form-group">
        Salary Cap
        <input type="number" class="form-control" ng-model="newLeague.salary_cap">
      </fieldset>
      <fieldset class="form-group">
        <label>
        <input type="radio" class="form-control" ng-model="newLeague.draft_type" value="AUCTION">Auction
      </label>
      <label>
        <input type="radio" class="form-control" ng-model="newLeague.draft_type" value="SNAKE">Snake
        </label>
      </fieldset>
      <button type="submit" class="btn btn-primary" ng-click="createLeague()">Create</button>
    </form>
  <div class="alert alert-danger" ng-show="hasError.value">
      <strong>Warning:</strong> {{alertMessage.value}}
      <a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearError()"></a>
    </div>
    <div class="alert alert-success" ng-show="hasSuccess.value">
      <strong>Success:</strong> {{successMessage.value}}
      <a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearSuccess()"></a>
    </div>

  </div>
</div>